<div class="block">
  <h2>Change your password</h2>
  <div class="content">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form" }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="group">
      <%= f.label :password, "New password", :class => "label" %>
      <%= f.password_field :password, :class => "text_field" %>
    </div>

    <div class ="group">
      <%= f.label :password_confirmation, "Confirm new password", :class => "label" %>
      <%= f.password_field :password_confirmation, :class => "text_field" %>
    </div>

    <div class="group">
      <%= f.submit "Change my password", :class => "button" %>
    </div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
  </div>
</div>