<script type="text/javascript">
$(document).ready(function(){
	$("#clicame").click(function(){ $("#bnn2").slideToggle(); });
});

$(document).ready(function(){
	$("#escondido-1").click(function(){ $("#escondido-0").slideToggle(); });
});
</script>

<div class="block notice">
  <h3>News</h3>
  <div class="content">
    <p>Hello, <%= @user.email %></p>
	<a id="clicame">hide/show last searches</a>
  </div>
</div>

<div id="bnn2" class="block notice">
  <table id="hor-minimalist-a" summary="last search sheet">
    <thead>
	  <th scope="col">Type</th>
	  <th scope="col">Date</th>
	  <th scope="col">User</th>
	  <th scope="col"></th>
	</thead>
	<tbody>
	<% @searches.last(10).each do |s| %>
	  <tr>
		<td><%= s.tipo %></td>
		<td><%= s.date %></td>
		<td><%= s.user_id %></td>
		<td><%= link_to 'show', root_path %></td>
	  </tr>
	<% end %>
	</tbody>	
  </table>
</div>

<div class="block">
  <h3>Search</h3>
  <ul class="navigation">
    <li><%= link_to 'Tables', root_path %></li>
    <li id="escondido-1">
		<a>Charts</a>
		<ul id="escondido-0" class="nested-list" style="display:none;">
			<li> <%= link_to 'Graphs', graphs_path %> </li>
			<li> <%= link_to 'Column type', graphicscolumns_path %> </li>
			<li> <%= link_to 'Linear type', graphicslinear_path %> </li>
			<li> <%= link_to 'Area type', graphicsarea_path %> </li>
			<li> <%= link_to 'Pie type', graphicspie_path %> </li>
		</ul>
	</li>
  </ul>
</div>

