<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$("#clicame").click(function(){ $("#bnn2").slideToggle(); });
});
</script>

<div class="block notice">
  <h3>News</h3>
  <div class="content">
    <p>Hello, <%= @user.email %></p>
	<p id="clicame">hide/show last searches</p>
  </div>
</div>

<div id="bnn2" class="block notice">
  <table id="hor-minimalist-a" summary="last search sheet">
    <thead>
	  <th scope="col">Last search</th>
	  <th scope="col">Date</th>
	  <th scope="col"></th>
	</thead>
	<tbody>
	  <tr>
		<td>Type x</td>
		<td><%= Time.now.to_date %></td>
		<td><%= link_to 'edit', root_path %></td>
	  </tr>
	  <tr>
		<td>Type y</td>
		<td><%= Time.now.ago(100000).to_date %></td>
		<td><%= link_to 'edit', root_path %></td>
	  </tr>
	  <tr>
		<td>Type z</td>
		<td><%= Time.now.ago(1000000).to_date %></td>
		<td><%= link_to 'edit', root_path %></td>
	  </tr>
	</tbody>	
  </table>
</div>

<div class="block">
  <h3>Pesquisa</h3>
  <ul class="navigation">
    <li><%= link_to 'Tabelas', root_path %></li>
    <li><%= link_to 'Gráficos', graficos_path %></li>
  </ul>
</div>

