<!DOCTYPE html>
<html>
<head>
  <title>Delusion HoneyPot</title>
  <%= stylesheet_link_tag "web_app_theme" %>
  <%= javascript_include_tag "web_app_theme" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><%= link_to 'Delusion HoneyPot', root_path %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= link_to t("web-app-theme.profile", :default => "Profile"), root_path %></li>
          <li><%= link_to t("web-app-theme.settings", :default => "Settings"), root_path %></li>
          <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Delusion HoneyPot.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
